.header p {
  color: #888;
}

.form-root {
  max-width: 720px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form-field {
  margin-bottom: 20px;
}

.form-label {
  display: block;
  margin-bottom: 8px;
  font-weight: 500;
  color: var(--gray-12);
}

.form-label .required {
  color: red;
}

.input {
  width: 100%;
  border: 1px solid #ccc;
  padding: 12px;
  font-size: 16px;
}

.select {
  width: 100%;
  padding: 12px;
  border-radius: 0;
  border: 1px solid #ccc;
  font-size: 16px;
}

.form-actions {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

.submit-button {
  background: #14144b;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border: none;
}

.test-details-container {
  width: 50%;
  height: calc(100vh - 81px);
}

@media screen and (max-width: 768px) {
  div.test-details-container {
    width: 100%;
    height: auto;
  }
}

.test-box {
  padding: 2rem 3rem;
  height: 100%;
  overflow-y: auto;
}

.heading {
  margin-bottom: 10px;
}

.subheading {
  margin-top: 20px;
  margin-bottom: 8px;
}

.paragraph-text {
  color: #9d9db8;
  margin-top: 15px;
}

.inline-url {
  font-family: monospace;
}

.link-bold {
  font-weight: bold;
}
