.container {
  display: flex !important;
  width: 100%;
}

.hero-section {
  width: 589px;
  min-width: 589px;
  min-height: 800px;
  background: #0A0552;
  height: 100%;
  background-position: bottom;
  background-size: 180% auto;
  background-repeat: no-repeat;
  text-align: center;
}

.hero-title {
  color: #FFFFFF;
  width: 360px;
  margin: 0 auto;
  margin-top: 16%;
  font-size: 1.8em;
}

.main-content {
  padding: 20px;
  margin: 0 auto;
  flex: 1 1 100%;
  background: #FCFDFF;
  height: 100%;
}

.content-wrapper {
  max-width: 400px;
  margin: 0 auto;
  height: 100%;
  display: flex !important;
  flex-direction: column;
  justify-content: center;
  margin-top: -20px;
}

.success-title {
  margin-bottom: 20px;
  color: #0A0552;
}

.success-link-container {
  margin-top: 30px;
  text-align: center;
}

.success-link {
  color: #0A0552;
  text-decoration: underline;
  font-size: 0.9em;
}

.form-title {
  margin-bottom: 20px;
}

.form-description {
  margin-bottom: 30px;
  color: #666;
}

.form-label {
  display: block;
  margin-bottom: 8px;
  font-weight: 500;
}

.required-asterisk {
  color: red;
}

.text-field {
  width: 100%;
  border: 1px solid #ccc;
  padding: 12px;
  font-size: 16px !important;
}

.form-message {
  color: var(--base-color-brand--light-blue);
  font-size: 0.85em;
}

.confirm-password-field {
  margin-top: 20px;
}

.submit-button-container {
  margin-top: 30px;
}

.submit-button {
  width: 100% !important;
  margin-top: 40px !important
}

.back-link-container {
  margin-top: 20px;
  text-align: center;
}

.back-link {
  color: #0A0552;
  text-decoration: underline;
  font-size: 0.9em;
}

.error-callout {
  margin-top: 20px;
}

.help-text {
  font-size: 0.9em;
  margin-top: 30px;
  text-align: center;
}

.help-link {
  font-weight: bold;
}