.container {
  display: flex;
  width: 100%;
}

.hero-section {
  width: 589px;
  min-width: 589px;
  min-height: 800px;
  background: var(--accent-9);
  height: 100%;
  background-position: bottom;
  background-size: 180% auto;
  background-repeat: no-repeat;
  text-align: center;
}

.hero-title {
  color: var(--gray-1);
  width: 360px;
  margin: 0 auto;
  margin-top: 16%;
  font-size: 1.8em;
}

.main-content {
  padding: 20px;
  margin: 0 auto;
  flex: 1 1 100%;
  background: var(--color-background);
  height: 100%;
}

.content-wrapper {
  max-width: 400px;
  margin: 0 auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: -20px;
}

.success-title {
  margin-bottom: 20px;
  color: var(--accent-12);
}

.success-link-container {
  margin-top: 30px;
  text-align: center;
}

.success-link {
  color: var(--accent-11);
  text-decoration: underline;
  font-size: 0.9em;
}

.form-title {
  margin-bottom: 20px;
}

.form-description {
  margin-bottom: 30px;
  color: var(--gray-9);
}

.form-label {
  display: block;
  margin-bottom: 8px;
  font-weight: 500;
}

.required-asterisk {
  color: var(--red-9);
}

.text-field {
  width: 100%;
  border: 1px solid var(--gray-6);
  padding: 12px;
  font-size: 16px;
}

.form-message {
  color: var(--accent-11);
  font-size: 0.85em;
}

.confirm-password-field {
  margin-top: 20px;
}

.submit-button-container {
  margin-top: 30px;
}

.submit-password-button {
  width: 100%;
  margin-top: 40px;
}

.back-link-container {
  margin-top: 20px;
  text-align: center;
}

.back-link {
  color: var(--accent-11);
  text-decoration: underline;
  font-size: 0.9em;
}

.error-callout {
  margin-top: 20px;
}

.help-text {
  font-size: 0.9em;
  margin-top: 30px;
  text-align: center;
}

.help-link {
  font-weight: bold;
}