.select {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 8px 12px;
  border-radius: var(--radius-2);
  border: 1px solid var(--gray-6);
  font-size: 14px;
  line-height: 1;
  height: 35px;
  background-color: var(--color-background);
  cursor: pointer;
}

.select:hover {
  border-color: var(--gray-8);
}

.select:focus {
  border-color: var(--accent-9);
  box-shadow: 0 0 0 2px var(--accent-a3);
  outline: none;
}
