.input {
  width: 100%;
  border: 1px solid var(--gray-6);
  border-radius: var(--radius-2);
  transition: border-color 0.15s ease-in-out;
}

.input :global(input.rt-TextFieldInput) {
  padding: 0 15px;
  font-family: var(--default-font-family);
  font-size: 14px;
}

.input :global(.rt-TextFieldSlot) {
  margin-right: 15px;
}

.input:hover {
  border-color: var(--gray-8);
}

.input:focus-within {
  border-color: var(--accent-9);
  box-shadow: 0 0 0 3px var(--accent-a3);
}
